<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Public Domain Day Countdown</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<div class="container" style="padding-top: 3%">
	<div class="container text-center">
		<div class="container">
			<h2>Public Domain Day Countdown</h2>
		</div>
		<div class="container text-center">
			<h1 id="countdown" style="font-size: 72px;"></h1>
		</div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col">
					Source: <a id="cvid" href="{{.StartVideoPath}}">{{.StartVideoName}}</a>
				</div>
				<div class="col">
					(<b>CHANGE ME</b>)Selection:
					<select id="vitems">
						{{ range .Videos }}
						<option value="{{.Path}}">{{.Name}}</option>
						{{ end }}
					</select>
				</div>
			</div>
		</div>
		<br>
		<video controls preload="auto" height="auto" width="100%" id="v" loop>
			<source src="{{.StartVideoPath}}" type="video/mp4" id="vsrc" />
		</video>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col">
				<h4>References</h4>
				<ul>
					{{ range .References }}
					<li><a href="{{.Path}}">{{.Name}}</li></a>
					{{ end }}
				</ul>
			</div>
			<div class="col">
				<h4>Context</h4>
				<p>Public Domain Day is a celebration of copyright expiration and
works transitioning into the public domain every January 1st. 'The term
"public domain" refers to creative materials that are not protected by
intellectual property laws such as copyright, trademark, or patent laws.
The public owns these works, not an individual author or artist. Anyone
can use a public domain work without obtaining permission, but no one can
ever own it.' [1]
<br><br>
This is a compiled list of public domain works (video only at the moment,
but will add audio and literature). All are freely available to download,
modify, and distribute to the end of time. Give thanks for those that
came before and pay it forward for those to come!
			</div>
		</div>
	</div>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			let video = document.getElementById('v')

			let vitems = document.getElementById('vitems')
			vitems.addEventListener('change', function(e) {
				document.getElementById("vsrc").setAttribute("src", this.value)
				document.getElementById("cvid").setAttribute("href", this.value)

				let opts = document.getElementsByTagName('option')
				let selected = opts[this.selectedIndex].text
				document.getElementById("cvid").innerHTML = selected

				video.load()
				video.play()
			})

			video.play()
		})

		let count_down_date = new Date('Jan 1, 2024 00:00:00').getTime()
		let i = setInterval(() => {
			let now = new Date().getTime()
			let difference = count_down_date - now

			let days = Math.floor((difference / (1000*60*60*24)))
			let hours = Math.floor((difference % (1000*60*60*24))/(1000*60*60))
			let minutes = Math.floor((difference % (1000*60*60)) / (1000*60))
			let seconds = Math.floor((difference % (1000*60)) / 1000)

			let timer = `${days}d ${hours}h ${minutes}m ${seconds}s`
			document.getElementById('countdown').innerHTML = timer
			document.title = `PDD: ${timer}`

			if (difference < 0) {
				clearInterval(i)
				document.getElementById('countdown').innerHTML = 'HAPPY PUBLIC DOMAIN DAY!'
			}
		}, 1000)
	
		console.log("If you see this hello and enjoy!")
	</script>
</body>
</html>
